nthroots {
  /* Square Roots */
  font-size: 2.0;
  font-size: 2.0;
  font-size: 3.0;
  font-size: 3.0;
  font-size: 4.0;
  font-size: 4.0;
  font-size: 5.0;
  font-size: 5.0;
  font-size: 6.0;
  font-size: 6.0;
  font-size: 7.0;
  font-size: 7.0;
  font-size: 8.0;
  font-size: 8.0;
  font-size: 9.0;
  font-size: 9.0;
  /* */
  /* */
  /* Cube Roots */
  font-size: 2.0;
  font-size: 3.0;
  font-size: 4.0;
  font-size: 5.0;
  font-size: 6.0;
  font-size: 7.0;
  font-size: 8.0;
  font-size: 9.0;
  /* */
  /* */
  /* n=4 */
  font-size: 2.0;
  font-size: 3.0;
  font-size: 4.0;
  font-size: 5.0;
  font-size: 6.0;
  font-size: 7.0;
  font-size: 8.0;
  font-size: 9.0;
  /* */
  /* */
  /* n=5 */
  font-size: 2.0;
  font-size: 3.0;
  font-size: 4.0;
  font-size: 5.0;
  font-size: 6.0;
  font-size: 7.0;
  font-size: 8;
  font-size: 9;
  /* */ }

exponents {
  /* Squares */
  font-size: 1;
  font-size: 4;
  font-size: 9;
  font-size: 16;
  font-size: 25;
  font-size: 36;
  font-size: 49;
  font-size: 64;
  font-size: 81;
  /* */
  /* */
  /* Cubes */
  font-size: 1;
  font-size: 8;
  font-size: 27;
  font-size: 64;
  font-size: 125;
  font-size: 216;
  font-size: 343;
  font-size: 512;
  font-size: 729;
  /* */
  /* */
  /* Full Suite */
  /* */
  /* */
  /* 1s */
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  /* 2s */
  font-size: 2;
  font-size: 4;
  font-size: 8;
  font-size: 16;
  font-size: 32;
  font-size: 64;
  font-size: 128;
  font-size: 256;
  font-size: 512;
  /* 3s */
  font-size: 3;
  font-size: 9;
  font-size: 27;
  font-size: 81;
  font-size: 243;
  font-size: 729;
  font-size: 2187;
  font-size: 6561;
  font-size: 19683;
  /* 4s */
  font-size: 4;
  font-size: 16;
  font-size: 64;
  font-size: 256;
  font-size: 1024;
  font-size: 4096;
  font-size: 16384;
  font-size: 65536;
  font-size: 262144;
  /* 5s */
  font-size: 5;
  font-size: 25;
  font-size: 125;
  font-size: 625;
  font-size: 3125;
  font-size: 15625;
  font-size: 78125;
  font-size: 390625;
  font-size: 1953125;
  /* 6s */
  font-size: 6;
  font-size: 36;
  font-size: 216;
  font-size: 1296;
  font-size: 7776;
  font-size: 46656;
  font-size: 279936;
  font-size: 1679616;
  font-size: 10077696;
  /* 7s */
  font-size: 7;
  font-size: 49;
  font-size: 343;
  font-size: 2401;
  font-size: 16807;
  font-size: 117649;
  font-size: 823543;
  font-size: 5764801;
  font-size: 40353607;
  /* 8s */
  font-size: 8;
  font-size: 64;
  font-size: 512;
  font-size: 4096;
  font-size: 32768;
  font-size: 262144;
  font-size: 2097152;
  font-size: 16777216;
  font-size: 134217728;
  /* 9s */
  font-size: 9;
  font-size: 81;
  font-size: 729;
  font-size: 6561;
  font-size: 59049;
  font-size: 531441;
  font-size: 4782969;
  font-size: 43046721;
  font-size: 387420489;
  /* */
  /* */
  /* Fractions */
  /* 1s */
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  font-size: 1;
  /* 2s */
  font-size: 2;
  font-size: 1.41422;
  font-size: 1.25992;
  font-size: 1.18921;
  font-size: 1.1487;
  font-size: 1.12246;
  font-size: 1.10409;
  font-size: 1.09051;
  font-size: 1.08006;
  font-size: 4;
  font-size: 2.0;
  font-size: 1.5874;
  font-size: 1.41421;
  font-size: 1.31951;
  font-size: 1.25992;
  font-size: 1.21901;
  font-size: 1.18921;
  font-size: 1.16653;
  font-size: 8;
  font-size: 2.82843;
  font-size: 2.0;
  font-size: 1.68179;
  font-size: 1.51572;
  font-size: 1.41421;
  font-size: 1.3459;
  font-size: 1.29684;
  font-size: 1.25992;
  font-size: 16;
  font-size: 4.0;
  font-size: 2.51984;
  font-size: 2.0;
  font-size: 1.7411;
  font-size: 1.5874;
  font-size: 1.48599;
  font-size: 1.41421;
  font-size: 1.36079;
  font-size: 32;
  font-size: 5.65685;
  font-size: 3.1748;
  font-size: 2.37841;
  font-size: 2.0;
  font-size: 1.7818;
  font-size: 1.64067;
  font-size: 1.54221;
  font-size: 1.46973;
  font-size: 64;
  font-size: 8.0;
  font-size: 4.0;
  font-size: 2.82843;
  font-size: 2.2974;
  font-size: 2.0;
  font-size: 1.81145;
  font-size: 1.68179;
  font-size: 1.5874;
  font-size: 128;
  font-size: 11.31371;
  font-size: 5.03968;
  font-size: 3.36359;
  font-size: 2.63902;
  font-size: 2.24492;
  font-size: 2.0;
  font-size: 1.83401;
  font-size: 1.71449;
  font-size: 256;
  font-size: 16.0;
  font-size: 6.3496;
  font-size: 4.0;
  font-size: 3.03143;
  font-size: 2.51984;
  font-size: 2.20818;
  font-size: 2.0;
  font-size: 1.85175;
  font-size: 512;
  font-size: 22.62742;
  font-size: 8.0;
  font-size: 4.75683;
  font-size: 3.4822;
  font-size: 2.82843;
  font-size: 2.43803;
  font-size: 2.18102;
  font-size: 2.0;
  /* 3s */
  font-size: 3;
  font-size: 1.73205;
  font-size: 1.44225;
  font-size: 1.31607;
  font-size: 1.24573;
  font-size: 1.20094;
  font-size: 1.16993;
  font-size: 1.1472;
  font-size: 1.12983;
  font-size: 9;
  font-size: 3.0;
  font-size: 2.08008;
  font-size: 1.73205;
  font-size: 1.55185;
  font-size: 1.44225;
  font-size: 1.36874;
  font-size: 1.31607;
  font-size: 1.27652;
  font-size: 27;
  font-size: 5.19615;
  font-size: 3.0;
  font-size: 2.27951;
  font-size: 1.93318;
  font-size: 1.73205;
  font-size: 1.60133;
  font-size: 1.5098;
  font-size: 1.44225;
  font-size: 81;
  font-size: 9.0;
  font-size: 4.32675;
  font-size: 3.0;
  font-size: 2.40822;
  font-size: 2.08008;
  font-size: 1.87344;
  font-size: 1.73205;
  font-size: 1.6295;
  font-size: 243;
  font-size: 15.58846;
  font-size: 6.24025;
  font-size: 3.94822;
  font-size: 3.0;
  font-size: 2.49805;
  font-size: 2.1918;
  font-size: 1.98701;
  font-size: 1.84106;
  font-size: 729;
  font-size: 27;
  font-size: 9.0;
  font-size: 5.19615;
  font-size: 3.73719;
  font-size: 3.0;
  font-size: 2.56425;
  font-size: 2.27951;
  font-size: 2.08008;
  font-size: 2187;
  font-size: 46.76537;
  font-size: 12.98025;
  font-size: 6.83852;
  font-size: 4.65554;
  font-size: 3.60281;
  font-size: 3.0;
  font-size: 2.61506;
  font-size: 2.35014;
  font-size: 6561;
  font-size: 81.0;
  font-size: 18.72075;
  font-size: 9.0;
  font-size: 5.79955;
  font-size: 4.32675;
  font-size: 3.50979;
  font-size: 3.0;
  font-size: 2.65526;
  font-size: 19683;
  font-size: 140.29612;
  font-size: 27.0;
  font-size: 11.84467;
  font-size: 7.22467;
  font-size: 5.19615;
  font-size: 4.10621;
  font-size: 3.44161;
  font-size: 3.0;
  /* 4s */
  font-size: 4;
  font-size: 2.0;
  font-size: 1.5874;
  font-size: 1.41421;
  font-size: 1.31951;
  font-size: 1.25992;
  font-size: 1.21901;
  font-size: 1.18921;
  font-size: 1.16653;
  font-size: 16;
  font-size: 4.0;
  font-size: 2.51984;
  font-size: 2.0;
  font-size: 1.7411;
  font-size: 1.5874;
  font-size: 1.48599;
  font-size: 1.41421;
  font-size: 1.36079;
  font-size: 64;
  font-size: 8.0;
  font-size: 4.0;
  font-size: 2.82843;
  font-size: 2.2974;
  font-size: 2.0;
  font-size: 1.81145;
  font-size: 1.68179;
  font-size: 1.5874;
  font-size: 256;
  font-size: 16.0;
  font-size: 6.3496;
  font-size: 4.0;
  font-size: 3.03143;
  font-size: 2.51984;
  font-size: 2.20818;
  font-size: 2.0;
  font-size: 1.85175;
  font-size: 1024;
  font-size: 32.0;
  font-size: 10.07937;
  font-size: 5.65685;
  font-size: 4.0;
  font-size: 3.1748;
  font-size: 2.6918;
  font-size: 2.37841;
  font-size: 2.16012;
  font-size: 4096;
  font-size: 64.0;
  font-size: 16.0;
  font-size: 8.0;
  font-size: 5.27803;
  font-size: 4.0;
  font-size: 3.28134;
  font-size: 2.82843;
  font-size: 2.51984;
  font-size: 16384;
  font-size: 128.0;
  font-size: 25.39842;
  font-size: 11.31371;
  font-size: 6.9644;
  font-size: 5.03968;
  font-size: 4.0;
  font-size: 3.36359;
  font-size: 2.93947;
  font-size: 65536;
  font-size: 256.0;
  font-size: 40.31747;
  font-size: 16.0;
  font-size: 9.18959;
  font-size: 6.3496;
  font-size: 4.87605;
  font-size: 4.0;
  font-size: 3.42898;
  font-size: 262144;
  font-size: 512.0;
  font-size: 64;
  font-size: 22.62742;
  font-size: 12.12573;
  font-size: 8.0;
  font-size: 5.94398;
  font-size: 4.75683;
  font-size: 4;
  /* 5s */
  font-size: 5;
  font-size: 2.23607;
  font-size: 1.70998;
  font-size: 1.49535;
  font-size: 1.37973;
  font-size: 1.30766;
  font-size: 1.2585;
  font-size: 1.22284;
  font-size: 1.19581;
  font-size: 25;
  font-size: 5.0;
  font-size: 2.92402;
  font-size: 2.23607;
  font-size: 1.90365;
  font-size: 1.70998;
  font-size: 1.58382;
  font-size: 1.49535;
  font-size: 1.42997;
  font-size: 125;
  font-size: 11.18034;
  font-size: 5.0;
  font-size: 3.3437;
  font-size: 2.62653;
  font-size: 2.23607;
  font-size: 1.99324;
  font-size: 1.82858;
  font-size: 1.70998;
  font-size: 625;
  font-size: 25.0;
  font-size: 8.54988;
  font-size: 5.0;
  font-size: 3.6239;
  font-size: 2.92402;
  font-size: 2.50848;
  font-size: 2.23607;
  font-size: 2.04481;
  font-size: 3125;
  font-size: 55.9017;
  font-size: 14.62009;
  font-size: 7.47674;
  font-size: 5.0;
  font-size: 3.82362;
  font-size: 3.15693;
  font-size: 2.73436;
  font-size: 2.44521;
  font-size: 15625;
  font-size: 125.0;
  font-size: 25.0;
  font-size: 11.18034;
  font-size: 6.89865;
  font-size: 5.0;
  font-size: 3.97299;
  font-size: 3.3437;
  font-size: 2.92402;
  font-size: 78125;
  font-size: 279.5085;
  font-size: 42.7494;
  font-size: 16.71851;
  font-size: 9.51827;
  font-size: 6.5383;
  font-size: 5.0;
  font-size: 4.08883;
  font-size: 3.49658;
  font-size: 390625;
  font-size: 625.0;
  font-size: 73.10044;
  font-size: 25.0;
  font-size: 13.13264;
  font-size: 8.54988;
  font-size: 6.29249;
  font-size: 5;
  font-size: 4.18126;
  font-size: 1953125;
  font-size: 1397.54249;
  font-size: 125.0;
  font-size: 37.38372;
  font-size: 18.11949;
  font-size: 11.18034;
  font-size: 7.9191;
  font-size: 6.11422;
  font-size: 5;
  /* 6s */
  font-size: 6;
  font-size: 2.44949;
  font-size: 1.81712;
  font-size: 1.56508;
  font-size: 1.43097;
  font-size: 1.34801;
  font-size: 1.29171;
  font-size: 1.25103;
  font-size: 1.22028;
  font-size: 36;
  font-size: 6.0;
  font-size: 3.30193;
  font-size: 2.44949;
  font-size: 2.04767;
  font-size: 1.81712;
  font-size: 1.66851;
  font-size: 1.56508;
  font-size: 1.4891;
  font-size: 216;
  font-size: 14.69694;
  font-size: 6.0;
  font-size: 3.83366;
  font-size: 2.93016;
  font-size: 2.44949;
  font-size: 2.15523;
  font-size: 1.95797;
  font-size: 1.81712;
  font-size: 1296;
  font-size: 36.0;
  font-size: 10.90272;
  font-size: 6.0;
  font-size: 4.19296;
  font-size: 3.30193;
  font-size: 2.78393;
  font-size: 2.44949;
  font-size: 2.2174;
  font-size: 7776;
  font-size: 88.18163;
  font-size: 19.81156;
  font-size: 9.39051;
  font-size: 6.0;
  font-size: 4.45102;
  font-size: 3.59602;
  font-size: 3.06439;
  font-size: 2.70587;
  font-size: 46656;
  font-size: 216;
  font-size: 36.0;
  font-size: 14.69694;
  font-size: 8.58581;
  font-size: 6.0;
  font-size: 4.64501;
  font-size: 3.83366;
  font-size: 3.30193;
  font-size: 279936;
  font-size: 529.08978;
  font-size: 65.41634;
  font-size: 23.00195;
  font-size: 12.28604;
  font-size: 8.08804;
  font-size: 6.0;
  font-size: 4.79604;
  font-size: 4.02929;
  font-size: 1679616;
  font-size: 1296;
  font-size: 118.86938;
  font-size: 36;
  font-size: 17.58094;
  font-size: 10.90272;
  font-size: 7.75025;
  font-size: 6;
  font-size: 4.91688;
  font-size: 10077696;
  font-size: 3174.53871;
  font-size: 216;
  font-size: 56.34304;
  font-size: 25.15778;
  font-size: 14.69694;
  font-size: 10.01106;
  font-size: 7.5062;
  font-size: 6.0;
  /* 7s */
  font-size: 7;
  font-size: 2.64575;
  font-size: 1.91293;
  font-size: 1.62658;
  font-size: 1.47577;
  font-size: 1.38309;
  font-size: 1.32047;
  font-size: 1.27537;
  font-size: 1.24137;
  font-size: 49;
  font-size: 7.0;
  font-size: 3.65931;
  font-size: 2.64575;
  font-size: 2.17791;
  font-size: 1.91293;
  font-size: 1.74364;
  font-size: 1.62658;
  font-size: 1.54099;
  font-size: 343;
  font-size: 18.52026;
  font-size: 7.0;
  font-size: 4.30352;
  font-size: 3.2141;
  font-size: 2.64575;
  font-size: 2.30242;
  font-size: 2.07449;
  font-size: 1.91293;
  font-size: 2401;
  font-size: 49.0;
  font-size: 13.39052;
  font-size: 7.0;
  font-size: 4.74328;
  font-size: 3.65931;
  font-size: 3.04028;
  font-size: 2.64575;
  font-size: 2.37465;
  font-size: 16807;
  font-size: 129.64181;
  font-size: 25.61514;
  font-size: 11.38604;
  font-size: 7.0;
  font-size: 5.06114;
  font-size: 4.01459;
  font-size: 3.37432;
  font-size: 2.94781;
  font-size: 117649;
  font-size: 343;
  font-size: 49.0;
  font-size: 18.52026;
  font-size: 10.33041;
  font-size: 7;
  font-size: 5.30115;
  font-size: 4.30352;
  font-size: 3.65931;
  font-size: 823543;
  font-size: 907.4927;
  font-size: 93.73363;
  font-size: 30.12462;
  font-size: 15.24534;
  font-size: 9.68161;
  font-size: 7.0;
  font-size: 5.48859;
  font-size: 4.54254;
  font-size: 5764801;
  font-size: 2401;
  font-size: 179.30598;
  font-size: 49;
  font-size: 22.49867;
  font-size: 13.39052;
  font-size: 9.24328;
  font-size: 7;
  font-size: 5.63895;
  font-size: 40353607;
  font-size: 6352.4489;
  font-size: 343.0;
  font-size: 79.70225;
  font-size: 33.20293;
  font-size: 18.52026;
  font-size: 12.20547;
  font-size: 8.92761;
  font-size: 7;
  /* 8s */
  font-size: 8;
  font-size: 2.82843;
  font-size: 2.0;
  font-size: 1.68179;
  font-size: 1.51572;
  font-size: 1.41421;
  font-size: 1.3459;
  font-size: 1.29684;
  font-size: 1.25992;
  font-size: 64;
  font-size: 8.0;
  font-size: 4.0;
  font-size: 2.82843;
  font-size: 2.2974;
  font-size: 2.0;
  font-size: 1.81145;
  font-size: 1.68179;
  font-size: 1.5874;
  font-size: 512;
  font-size: 22.62742;
  font-size: 8.0;
  font-size: 4.75683;
  font-size: 3.4822;
  font-size: 2.82843;
  font-size: 2.43803;
  font-size: 2.18102;
  font-size: 2.0;
  font-size: 4096;
  font-size: 64.0;
  font-size: 16.0;
  font-size: 8.0;
  font-size: 5.27803;
  font-size: 4.0;
  font-size: 3.28134;
  font-size: 2.82843;
  font-size: 2.51984;
  font-size: 32768;
  font-size: 181.01934;
  font-size: 32.0;
  font-size: 13.45434;
  font-size: 8;
  font-size: 5.65685;
  font-size: 4.41636;
  font-size: 3.66802;
  font-size: 3.1748;
  font-size: 262144;
  font-size: 512.0;
  font-size: 64;
  font-size: 22.62742;
  font-size: 12.12573;
  font-size: 8.0;
  font-size: 5.94398;
  font-size: 4.75683;
  font-size: 4;
  font-size: 2097152;
  font-size: 1448.15469;
  font-size: 128.0;
  font-size: 38.05463;
  font-size: 18.37917;
  font-size: 11.31371;
  font-size: 8;
  font-size: 6.16884;
  font-size: 5.03968;
  font-size: 16777216;
  font-size: 4096.0;
  font-size: 256;
  font-size: 64;
  font-size: 27.85762;
  font-size: 16;
  font-size: 10.7672;
  font-size: 8;
  font-size: 6.3496;
  font-size: 134217728;
  font-size: 11585.2375;
  font-size: 512.0;
  font-size: 107.63474;
  font-size: 42.22425;
  font-size: 22.62742;
  font-size: 14.49158;
  font-size: 10.37472;
  font-size: 8;
  /* 9s */
  font-size: 9;
  font-size: 3.0;
  font-size: 2.08008;
  font-size: 1.73205;
  font-size: 1.55185;
  font-size: 1.44225;
  font-size: 1.36874;
  font-size: 1.31607;
  font-size: 1.27652;
  font-size: 81;
  font-size: 9.0;
  font-size: 4.32675;
  font-size: 3.0;
  font-size: 2.40822;
  font-size: 2.08008;
  font-size: 1.87344;
  font-size: 1.73205;
  font-size: 1.6295;
  font-size: 729;
  font-size: 27;
  font-size: 9.0;
  font-size: 5.19615;
  font-size: 3.73719;
  font-size: 3.0;
  font-size: 2.56425;
  font-size: 2.27951;
  font-size: 2.08008;
  font-size: 6561;
  font-size: 81.0;
  font-size: 18.72075;
  font-size: 9.0;
  font-size: 5.79955;
  font-size: 4.32675;
  font-size: 3.50979;
  font-size: 3.0;
  font-size: 2.65526;
  font-size: 59049;
  font-size: 243.0;
  font-size: 38.94074;
  font-size: 15.58846;
  font-size: 9;
  font-size: 6.24025;
  font-size: 4.80399;
  font-size: 3.94822;
  font-size: 3.38949;
  font-size: 531441;
  font-size: 729;
  font-size: 81.0;
  font-size: 27;
  font-size: 13.96661;
  font-size: 9;
  font-size: 6.5754;
  font-size: 5.19615;
  font-size: 4.32675;
  font-size: 4782969;
  font-size: 2187.0;
  font-size: 168.48679;
  font-size: 46.76537;
  font-size: 21.67402;
  font-size: 12.98025;
  font-size: 9;
  font-size: 6.83852;
  font-size: 5.52317;
  font-size: 43046721;
  font-size: 6561;
  font-size: 350.46665;
  font-size: 81.0;
  font-size: 33.63474;
  font-size: 18.72075;
  font-size: 12.31864;
  font-size: 9;
  font-size: 7.05043;
  font-size: 387420489;
  font-size: 19683;
  font-size: 729;
  font-size: 140.29612;
  font-size: 52.19592;
  font-size: 27;
  font-size: 16.861;
  font-size: 11.84467;
  font-size: 9; }

extendedSquareRootTest {
  font-size: 1;
  font-size: 1.41422;
  font-size: 1.73205;
  font-size: 2.0;
  font-size: 2.23607;
  font-size: 2.44949;
  font-size: 2.64575;
  font-size: 2.82843;
  font-size: 3.0;
  font-size: 3.16228;
  font-size: 3.31662;
  font-size: 3.4641;
  font-size: 3.60555;
  font-size: 3.74166;
  font-size: 3.87298;
  font-size: 4.0;
  font-size: 4.12311;
  font-size: 4.24264;
  font-size: 4.3589;
  font-size: 4.47214;
  font-size: 4.58258;
  font-size: 4.69042;
  font-size: 4.79583;
  font-size: 4.89898;
  font-size: 5.0;
  font-size: 5.09902;
  font-size: 5.19615;
  font-size: 5.2915;
  font-size: 5.38516;
  font-size: 5.47723;
  font-size: 5.56776;
  font-size: 5.65685;
  font-size: 5.74456;
  font-size: 5.83095;
  font-size: 5.91608;
  font-size: 6.0;
  font-size: 6.08276;
  font-size: 6.16441;
  font-size: 6.245;
  font-size: 6.32456;
  font-size: 6.40312;
  font-size: 6.48074;
  font-size: 6.55744;
  font-size: 6.63325;
  font-size: 6.7082;
  font-size: 6.78233;
  font-size: 6.85565;
  font-size: 6.9282;
  font-size: 7.0;
  font-size: 7.07107;
  font-size: 7.14143;
  font-size: 7.2111;
  font-size: 7.28011;
  font-size: 7.34847;
  font-size: 7.4162;
  font-size: 7.48332;
  font-size: 7.54984;
  font-size: 7.61577;
  font-size: 7.68115;
  font-size: 7.74597;
  font-size: 7.81025;
  font-size: 7.87401;
  font-size: 7.93725;
  font-size: 8.0;
  font-size: 8.06226;
  font-size: 8.12404;
  font-size: 8.18535;
  font-size: 8.24621;
  font-size: 8.30662;
  font-size: 8.3666;
  font-size: 8.42615;
  font-size: 8.48528;
  font-size: 8.544;
  font-size: 8.60233;
  font-size: 8.66025;
  font-size: 8.7178;
  font-size: 8.77496;
  font-size: 8.83176;
  font-size: 8.88819;
  font-size: 8.94427;
  font-size: 9.0;
  font-size: 9.05539;
  font-size: 9.11043;
  font-size: 9.16515;
  font-size: 9.21954;
  font-size: 9.27362;
  font-size: 9.32738;
  font-size: 9.38083;
  font-size: 9.43398;
  font-size: 9.48683;
  font-size: 9.53939;
  font-size: 9.59166;
  font-size: 9.64365;
  font-size: 9.69536;
  font-size: 9.74679;
  font-size: 9.79796;
  font-size: 9.84886;
  font-size: 9.89949;
  font-size: 9.94987;
  font-size: 10.0;
  font-size: 10.04988;
  font-size: 10.0995;
  font-size: 10.14889;
  font-size: 10.19804;
  font-size: 10.24695;
  font-size: 10.29563;
  font-size: 10.34408;
  font-size: 10.3923;
  font-size: 10.44031;
  font-size: 10.48809;
  font-size: 10.53565;
  font-size: 10.58301;
  font-size: 10.63015;
  font-size: 10.67708;
  font-size: 10.72381;
  font-size: 10.77033;
  font-size: 10.81665;
  font-size: 10.86278;
  font-size: 10.90871;
  font-size: 10.95445;
  font-size: 11.0;
  font-size: 11.04536;
  font-size: 11.09054;
  font-size: 11.13553;
  font-size: 11.18034;
  font-size: 11.22497;
  font-size: 11.26943;
  font-size: 11.31371;
  font-size: 11.35782;
  font-size: 11.40175;
  font-size: 11.44552;
  font-size: 11.48913;
  font-size: 11.53256;
  font-size: 11.57584;
  font-size: 11.61895;
  font-size: 11.6619;
  font-size: 11.7047;
  font-size: 11.74734;
  font-size: 11.78983;
  font-size: 11.83216;
  font-size: 11.87434;
  font-size: 11.91638;
  font-size: 11.95826;
  font-size: 12.0;
  font-size: 12.04159;
  font-size: 12.08305;
  font-size: 12.12436;
  font-size: 12.16553;
  font-size: 12.20656;
  font-size: 12.24745;
  font-size: 12.28821;
  font-size: 12.32883;
  font-size: 12.36932;
  font-size: 12.40967;
  font-size: 12.4499;
  font-size: 12.49;
  font-size: 12.52996;
  font-size: 12.56981;
  font-size: 12.60952;
  font-size: 12.64911;
  font-size: 12.68858;
  font-size: 12.72792;
  font-size: 12.76715;
  font-size: 12.80625;
  font-size: 12.84523;
  font-size: 12.8841;
  font-size: 12.92285;
  font-size: 12.96148;
  font-size: 13.0;
  font-size: 13.0384;
  font-size: 13.0767;
  font-size: 13.11488;
  font-size: 13.15295;
  font-size: 13.19091;
  font-size: 13.22876;
  font-size: 13.2665;
  font-size: 13.30413;
  font-size: 13.34166;
  font-size: 13.37909;
  font-size: 13.41641;
  font-size: 13.45362;
  font-size: 13.49074;
  font-size: 13.52775;
  font-size: 13.56466;
  font-size: 13.60147;
  font-size: 13.63818;
  font-size: 13.67479;
  font-size: 13.71131;
  font-size: 13.74773;
  font-size: 13.78405;
  font-size: 13.82028;
  font-size: 13.85641;
  font-size: 13.89244;
  font-size: 13.92839;
  font-size: 13.96424;
  font-size: 14.0;
  font-size: 14.03567;
  font-size: 14.07125;
  font-size: 14.10674;
  font-size: 14.14214;
  font-size: 14.17745;
  font-size: 14.21267;
  font-size: 14.24781;
  font-size: 14.28286;
  font-size: 14.31782;
  font-size: 14.3527;
  font-size: 14.38749;
  font-size: 14.42221;
  font-size: 14.45683;
  font-size: 14.49138;
  font-size: 14.52584;
  font-size: 14.56022;
  font-size: 14.59452;
  font-size: 14.62874;
  font-size: 14.66288;
  font-size: 14.69694;
  font-size: 14.73092;
  font-size: 14.76482;
  font-size: 14.79865;
  font-size: 14.8324;
  font-size: 14.86607;
  font-size: 14.89966;
  font-size: 14.93318;
  font-size: 14.96663;
  font-size: 15.0;
  font-size: 15.0333;
  font-size: 15.06652;
  font-size: 15.09967;
  font-size: 15.13275;
  font-size: 15.16575;
  font-size: 15.19868;
  font-size: 15.23155;
  font-size: 15.26434;
  font-size: 15.29706;
  font-size: 15.32971;
  font-size: 15.36229;
  font-size: 15.3948;
  font-size: 15.42725;
  font-size: 15.45962;
  font-size: 15.49193;
  font-size: 15.52417;
  font-size: 15.55635;
  font-size: 15.58846;
  font-size: 15.6205;
  font-size: 15.65248;
  font-size: 15.68439;
  font-size: 15.71623;
  font-size: 15.74802;
  font-size: 15.77973;
  font-size: 15.81139;
  font-size: 15.84298;
  font-size: 15.87451;
  font-size: 15.90597;
  font-size: 15.93738;
  font-size: 15.96872; }

extendedCubeRootTest {
  font-size: 1;
  font-size: 1.25992;
  font-size: 1.44225;
  font-size: 1.5874;
  font-size: 1.70998;
  font-size: 1.81712;
  font-size: 1.91293;
  font-size: 2.0;
  font-size: 2.08008;
  font-size: 2.15443;
  font-size: 2.22398;
  font-size: 2.28943;
  font-size: 2.35133;
  font-size: 2.41014;
  font-size: 2.46621;
  font-size: 2.51984;
  font-size: 2.57128;
  font-size: 2.62074;
  font-size: 2.6684;
  font-size: 2.71442;
  font-size: 2.75892;
  font-size: 2.80204;
  font-size: 2.84387;
  font-size: 2.8845;
  font-size: 2.92402;
  font-size: 2.9625;
  font-size: 3.0;
  font-size: 3.03659;
  font-size: 3.07232;
  font-size: 3.10723;
  font-size: 3.14138;
  font-size: 3.1748;
  font-size: 3.20753;
  font-size: 3.23961;
  font-size: 3.27107;
  font-size: 3.30193;
  font-size: 3.33222;
  font-size: 3.36198;
  font-size: 3.39121;
  font-size: 3.41995;
  font-size: 3.44822;
  font-size: 3.47603;
  font-size: 3.5034;
  font-size: 3.53035;
  font-size: 3.55689;
  font-size: 3.58305;
  font-size: 3.60883;
  font-size: 3.63424;
  font-size: 3.65931;
  font-size: 3.68403;
  font-size: 3.70843;
  font-size: 3.73251;
  font-size: 3.75629;
  font-size: 3.77976;
  font-size: 3.80295;
  font-size: 3.82586;
  font-size: 3.8485;
  font-size: 3.87088;
  font-size: 3.893;
  font-size: 3.91487;
  font-size: 3.9365;
  font-size: 3.95789;
  font-size: 3.97906;
  font-size: 4.0;
  font-size: 4.02073;
  font-size: 4.04124;
  font-size: 4.06155;
  font-size: 4.08166;
  font-size: 4.10157;
  font-size: 4.12129;
  font-size: 4.14082;
  font-size: 4.16017;
  font-size: 4.17934;
  font-size: 4.19834;
  font-size: 4.21716;
  font-size: 4.23582;
  font-size: 4.25432;
  font-size: 4.27266;
  font-size: 4.29084;
  font-size: 4.30887;
  font-size: 4.32675;
  font-size: 4.34448;
  font-size: 4.36207;
  font-size: 4.37952;
  font-size: 4.39683;
  font-size: 4.414;
  font-size: 4.43105;
  font-size: 4.44796;
  font-size: 4.46475;
  font-size: 4.4814;
  font-size: 4.49794;
  font-size: 4.51436;
  font-size: 4.53065;
  font-size: 4.54684;
  font-size: 4.5629;
  font-size: 4.57886;
  font-size: 4.5947;
  font-size: 4.61044;
  font-size: 4.62607;
  font-size: 4.64159;
  font-size: 4.65701;
  font-size: 4.67233;
  font-size: 4.68755;
  font-size: 4.70267;
  font-size: 4.71769;
  font-size: 4.73262;
  font-size: 4.74746;
  font-size: 4.7622;
  font-size: 4.77686;
  font-size: 4.79142;
  font-size: 4.8059;
  font-size: 4.82028;
  font-size: 4.83459;
  font-size: 4.84881;
  font-size: 4.86294;
  font-size: 4.877;
  font-size: 4.89097;
  font-size: 4.90487;
  font-size: 4.91868;
  font-size: 4.93242;
  font-size: 4.94609;
  font-size: 4.95968;
  font-size: 4.97319;
  font-size: 4.98663;
  font-size: 5.0;
  font-size: 5.0133;
  font-size: 5.02653;
  font-size: 5.03968;
  font-size: 5.05277;
  font-size: 5.0658;
  font-size: 5.07875;
  font-size: 5.09164;
  font-size: 5.10447;
  font-size: 5.11723;
  font-size: 5.12993;
  font-size: 5.14256;
  font-size: 5.15514;
  font-size: 5.16765;
  font-size: 5.1801;
  font-size: 5.19249;
  font-size: 5.20483;
  font-size: 5.2171;
  font-size: 5.22932;
  font-size: 5.24148;
  font-size: 5.25359;
  font-size: 5.26564;
  font-size: 5.27763;
  font-size: 5.28957;
  font-size: 5.30146;
  font-size: 5.31329;
  font-size: 5.32507;
  font-size: 5.3368;
  font-size: 5.34848;
  font-size: 5.36011;
  font-size: 5.37169;
  font-size: 5.38321;
  font-size: 5.39469;
  font-size: 5.40612;
  font-size: 5.4175;
  font-size: 5.42884;
  font-size: 5.44012;
  font-size: 5.45136;
  font-size: 5.46256;
  font-size: 5.4737;
  font-size: 5.48481;
  font-size: 5.49586;
  font-size: 5.50688;
  font-size: 5.51785;
  font-size: 5.52877;
  font-size: 5.53966;
  font-size: 5.5505;
  font-size: 5.5613;
  font-size: 5.57205;
  font-size: 5.58277;
  font-size: 5.59344;
  font-size: 5.60408;
  font-size: 5.61467;
  font-size: 5.62523;
  font-size: 5.63574;
  font-size: 5.64622;
  font-size: 5.65665;
  font-size: 5.66705;
  font-size: 5.67741;
  font-size: 5.68773;
  font-size: 5.69802;
  font-size: 5.70827;
  font-size: 5.71848;
  font-size: 5.72865;
  font-size: 5.73879;
  font-size: 5.7489;
  font-size: 5.75897;
  font-size: 5.769;
  font-size: 5.779;
  font-size: 5.78896;
  font-size: 5.79889;
  font-size: 5.80879;
  font-size: 5.81865;
  font-size: 5.82848;
  font-size: 5.83827;
  font-size: 5.84804;
  font-size: 5.85777;
  font-size: 5.86746;
  font-size: 5.87713;
  font-size: 5.88677;
  font-size: 5.89637;
  font-size: 5.90594;
  font-size: 5.91548;
  font-size: 5.92499;
  font-size: 5.93447;
  font-size: 5.94392;
  font-size: 5.95334;
  font-size: 5.96273;
  font-size: 5.97209;
  font-size: 5.98142;
  font-size: 5.99073;
  font-size: 6.0;
  font-size: 6.00925;
  font-size: 6.01846;
  font-size: 6.02765;
  font-size: 6.03681;
  font-size: 6.04594;
  font-size: 6.05505;
  font-size: 6.06413;
  font-size: 6.07318;
  font-size: 6.0822;
  font-size: 6.0912;
  font-size: 6.10017;
  font-size: 6.10911;
  font-size: 6.11803;
  font-size: 6.12693;
  font-size: 6.13579;
  font-size: 6.14463;
  font-size: 6.15345;
  font-size: 6.16224;
  font-size: 6.17101;
  font-size: 6.17975;
  font-size: 6.18846;
  font-size: 6.19715;
  font-size: 6.20582;
  font-size: 6.21447;
  font-size: 6.22308;
  font-size: 6.23168;
  font-size: 6.24025;
  font-size: 6.2488;
  font-size: 6.25732;
  font-size: 6.26583;
  font-size: 6.27431;
  font-size: 6.28276;
  font-size: 6.29119;
  font-size: 6.29961;
  font-size: 6.30799;
  font-size: 6.31636;
  font-size: 6.3247;
  font-size: 6.33303;
  font-size: 6.34133; }
