nthroots {
  /* Square Roots */
  /* 2 */
  font-size: 2;
  /* 3 */
  font-size: 3;
  /* 4 */
  font-size: 4;
  /* 5 */
  font-size: 5;
  /* 6 */
  font-size: 6;
  /* 7 */
  font-size: 7;
  /* 8 */
  font-size: 8;
  /* 9 */
  font-size: 9;
  /* */
  /* */
  /* Cube Roots */
  /* 2 */
  font-size: 2;
  /* 3 */
  font-size: 3;
  /* 4 */
  font-size: 4;
  /* 5 */
  font-size: 5;
  /* 6 */
  font-size: 6;
  /* 7 */
  font-size: 7;
  /* 8 */
  font-size: 8;
  /* 9 */
  font-size: 9;
  /* */
  /* */
  /* n=4 */
  /* 2 */
  font-size: 2;
  /* 3 */
  font-size: 3;
  /* 4 */
  font-size: 4;
  /* 5 */
  font-size: 5;
  /* 6 */
  font-size: 6;
  /* 7 */
  font-size: 7;
  /* 8 */
  font-size: 8;
  /* 9 */
  font-size: 9;
  /* */
  /* */
  /* n=5 */
  /* 2 */
  font-size: 2;
  /* 3 */
  font-size: 3;
  /* 4 */
  font-size: 4;
  /* 5 */
  font-size: 5;
  /* 6 */
  font-size: 6;
  /* 7 */
  font-size: 7;
  /* 8 */
  font-size: 8;
  /* 9 */
  font-size: 9; }

exponents {
  /* Squares */
  /* 1 */
  font-size: 1;
  /* 4 */
  font-size: 4;
  /* 9 */
  font-size: 9;
  /* 16 */
  font-size: 16;
  /* 25 */
  font-size: 25;
  /* 36 */
  font-size: 36;
  /* 49 */
  font-size: 49;
  /* 64 */
  font-size: 64;
  /* 81 */
  font-size: 81;
  /* */
  /* */
  /* Cubes */
  /* 1 */
  font-size: 1;
  /* 8 */
  font-size: 8;
  /* 27 */
  font-size: 27;
  /* 64 */
  font-size: 64;
  /* 125 */
  font-size: 125;
  /* 216 */
  font-size: 216;
  /* 343 */
  font-size: 343;
  /* 512 */
  font-size: 512;
  /* 729 */
  font-size: 729;
  /* */
  /* */
  /* Fractions */
  /* 4 */
  font-size: 4;
  /* 16 */
  font-size: 16;
  /* 2 */
  font-size: 2;
  /* 128 */
  font-size: 128; }
